@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* .container h1{
 
  text-align: center;
} */

details {
  background-color: #ffffff;
  border: 1px solid rgb(189, 189, 189);
  /* border-bottom: none; */
  color: #fff;
  /* font-size: 1.5rem; */
}

summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  color: rgb(94, 94, 94);
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
  color: rgb(141, 141, 141);
}
