.wrapbox{
    position: relative;
}
.subdiv{
    /* background: linear-gradient(90deg, rgb(8, 33, 66)  0%, rgb(71, 107, 157) 100%); */
    padding:2rem;
    border-radius: 15px;
}
.footercomponent{
    width:100%;
    /* background: #28b78d; */
    /* background:  linear-gradient(90deg, rgb(69, 212, 167) 0%, rgb(45, 68, 98) 100%); */
    /* background:  linear-gradient(90deg, rgb(8, 33, 66)  0%, rgb(71, 107, 157) 100%); */
    padding:5rem;
    top:3rem;
    position:absolute;
  z-index:1;
      
}
.link{
    text-decoration:None;
}

.link:hover{
    color:#ffffff;
    text-decoration: underline;
}